.App {
  text-align: center;
}
.inputDiv{
  margin-top: 50px;
  min-height: 30%;
}
.form{
  height: 100px;
}
.inputStyle{
  height: 30px;
  width: 250px;
}
::-webkit-input-placeholder {
  text-align: center;
}
.buttonDiv{
  height: 40%;
}
.linkDiv{
  height: 25%;

}
.center {
  justify-content: center;
  align-items: center;
  text-align: -webkit-center;
}

.button{
  background: green;
  color: white;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}